<div class="month">
	<div class="notes-area">
		<div class="month-title">
			<a [routerLink]="['../', monthNumber - 1]">
				<fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
			</a>
			<span>{{MonthName(monthNumber)}}</span>
			<a [routerLink]="['../', monthNumber + 1]">
				<fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
			</a>
		</div>
		<div class="notes">
			notes
		</div>
	</div>
	<div class="calendar-area">
		<div class="week-days-bar">
			<div class="week-day">Monday</div>
			<div class="week-day">Tuesday</div>
			<div class="week-day">Wednessday</div>
			<div class="week-day">Thursday</div>
			<div class="week-day">Friday</div>
			<div class="week-day">Saturday</div>
			<div class="week-day">Sunday</div>
		</div>
		<app-calendar [Days]="DisplayDays"></app-calendar>
	</div>
</div>