<div class="month">
	<div class="notes-area">
		<div class="title badge ">
			<div class="month-title">
				<a [routerLink]="['../', monthNumber - 1]">
					<fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
				</a>
				<span>{{ MonthName }}</span>
				<a [routerLink]="['../', monthNumber + 1]">
					<fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
				</a>
			</div>
			<div class="year-title">
				{{ Year }}
			</div>
		</div>
		<div class="notes">
			<router-outlet></router-outlet>
		</div>
	</div>
	<div class="calendar-area">
		<div class="week-days-bar">
			<div class="week-day">Monday</div>
			<div class="week-day">Tuesday</div>
			<div class="week-day">Wednessday</div>
			<div class="week-day">Thursday</div>
			<div class="week-day">Friday</div>
			<div class="week-day">Saturday</div>
			<div class="week-day">Sunday</div>
		</div>
		<app-day-list [Days]="DisplayDays" [MonthItems]="Items$ | async" [MonthName]="MonthName"></app-day-list>
	</div>
</div>