@import 'variables';

.day {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    > .day-header {
        margin: 6px 5px 2px 5px;
        height: 26px;
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        align-items: center;

        > .day-actions {

            > a, button {
                margin-left: 3px;
                cursor: pointer;
                color: $blue;
                background: transparent;
                border: none;
                outline: none;
                :hover {
                    color: darken($blue, 10%);
                }
            }

            visibility: hidden;
            font-size: 24px;
        }
    }

    &:hover .day-actions {
        visibility: visible;
    }

    .item-list {
        padding: 0 5px;
        overflow-y: hidden;
        flex-grow: 1;

        > .todo-item {
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            padding: 3px;
            padding-left: 7px;
            border-radius: 5px;
            margin-bottom: 3px;
            white-space: nowrap;

            .todo-text {
                white-space: nowrap;
            }

            .todo-action-btn {
                background: transparent;
                border: transparent;
                margin-left: 2px;
                border-radius: 5px;
                padding: 0 3px;
            }
        }
    }

    .more-container {
        flex-basis: 20px;
        display: flex;
        justify-content: center;
    } 
}

