<div class="day" #dayRef>
	<div class="day-header">
		<span>
			{{ DayNumber }}
		</span> 
		<span class="day-actions">
			<button (click)="OnDaySelectedToAdd()">
				<fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
			</button>
			<button (click)="OnDaySelectedToView()">
				<fa-icon [icon]="['fas', 'list-alt']"></fa-icon>
			</button>
		</span>
	</div>
	<div class="item-list">
		<div *ngFor="let item of Items" 
			class="todo-item" 
			coloredImportance 
			[importance]="item.Importance" 
			[ngStyle]="{ 'visibility': item.Visible ? 'visible' : 'hidden' }"
			>
			<div class="short-name">
				<button class="done-toggler" 
					(click)="ToggleDone(item.id)" 
					>
					<fa-icon [icon]="ToggleIcon(item.IsDone)"></fa-icon>
				</button>
				<span class="todo-text">{{ item.Name }} {{ item | displayTime }}</span>
			</div>

			<div class="actions"> 
				<a class="todo-action-btn" (click)="OnEditClick(item)">
					<fa-icon [icon]="['fas', 'edit']"></fa-icon>
				</a>
				<button class="todo-action-btn" (click)="OnDeleteClick(item.id)">
					<fa-icon [icon]="['fas', 'times']"></fa-icon>
				</button>
			</div>
		</div>
	</div>
	<div class="more-container" *ngIf = "NotVisibleCount > 0">
		<span> {{ NotVisibleCount }} more ... </span>
	</div>
</div>