<div class="day">
	<div class="day-header">
		<span>
			{{ DayNumber }}
		</span> 
		<a [routerLink]="[DayNumber, 'add']" class="add-item-link">
			<fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
		</a>
	</div>
	<div class="item-list">
		<span *ngFor="let item of Items" class="todo-item" [ngClass]="{ 'high-imp-item' : IsItemHighImportant(item), 'mid-imp-item' : IsItemMidmportant(item),	'low-imp-item' : IsItemLowImportant(item) }">
			<span class="todo-text">{{ ItemDisplayText(item) }}</span>
			<button class="todo-delete-btn" (click)="OnDelete(item)">
				<fa-icon [icon]="['fas', 'times']"></fa-icon>
			</button>
		</span>
	</div>
</div>