@import 'variables';

.day {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;

    > .day-header {
        margin: 2px 5px 5px 5px;
        height: 35px;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        align-items: center;

        > .day-actions {

            > a {
                margin-left: 3px;
                cursor: pointer;
                color: $blue;

                :hover {
                    color: darken($blue, 10%);
                }
            }

            visibility: hidden;
            font-size: 30px;
        }
    }

    &:hover .day-actions {
        visibility: visible;
    }

    .item-list {
        padding: 0 5px;

        > .todo-item {
            font-size: 13px;
            padding: 3px;
            border-radius: 5px;
            margin: 3px;
            white-space: nowrap;

            .todo-text {
                white-space: nowrap;
            }

            .todo-delete-btn {
                background: transparent;
                border: transparent;
                margin-left: 2px;
                border-radius: 5px;
            }
        }

        > .low-imp-item {
            background-color: rgb(132, 200, 221);

            button:hover {
                background: darken($color: rgb(132, 200, 221), $amount: 10%);
            }
        }

        > .mid-imp-item {
            background-color: rgb(238, 221, 71);
        
            button:hover {
                background: darken($color: rgb(238, 221, 71), $amount: 10%);
            }
        }

        > .high-imp-item {
            background-color: rgb(238, 116, 116);

            button:hover {
                background: darken($color: rgb(238, 116, 116), $amount: 10%);
            }
        }
    }
}

