<div class="notificator">
    <div *ngFor="let ntf of ns.Notifications" class="notification">
        <div class="short-info">
            <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
            <span>
                {{ ntf.Message }}
                <fa-icon class="toggler" [icon]="['fas', 'chevron-down']" (click)="ToggleDescription()"></fa-icon>
            </span> 
            <button class="close-btn" (click)="OnNotificationClick(ntf)">
                <fa-icon [icon]="['fas', 'times']"></fa-icon>
            </button>
        </div>

        <div class="description" *ngIf="ShowDescription">
            {{ ntf.Description }}
        </div>
    </div>
</div>