<div class="notificator">
    <div *ngFor="let ntf of Notifications" class="notification" [@inOutAnimation]>
        <div class="short-info">
            <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
            <span>
                {{ ntf.Title }}
                <fa-icon 
                    [icon]="['fas', 'chevron-down']"  
                    [ngClass]="{'collapsed' : ntf.Collapsed, 'expanded' : !ntf.Collapsed }"
                    (click)="ntf.Collapsed = !ntf.Collapsed">
                </fa-icon>
            </span>
            <button class="close-btn" (click)="OnNotificationClick(ntf)">
                <fa-icon [icon]="['fas', 'times']"></fa-icon>
            </button>
        </div>

        <div class="content" *ngIf="!ntf.Collapsed" [innerHTML]="ntf.Content | safe"></div>
    </div>
</div>