@import 'variables';

.month {
    border: $turquoise 8px solid;
    border-radius: 6px;
    display: flex;
    flex-direction: row;

    // to get rid of right-hand scroll bar
    height: 101%;

    .notes-area {
        background-color: $gray;
        min-width: 270px;
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 0 10px;
        box-sizing: border-box;

        > .title {
            background-color: $turquoise;
            margin: 20px 0;
            padding: 15px 3px;;
            align-content: center;

            flex: 0 1 50px;

            > .month-title {
                font-size: 30px;
                margin-bottom: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                    
                > a:visited, a:active {
                    color: rgb(95, 94, 94);
                }
            }

            > .year-title {
                margin: 0 auto;
                font-size: 25px;
                width: 70px;
                text-align: center;
                line-height: 20px;
            }
        }

        > .notes {
            overflow-y: auto;
            flex: 1 1 auto;
            width: 100%;
        };
    }

    .calendar-area {
        border-radius: 3px;
        flex-grow: 1;
        overflow-y: auto;

        > .week-days-bar {
            padding: 0 1%;
            background-color: $gray;
            font-size: 22px;
            height: 55px;
    
            > .week-day {
                text-align: center;
                flex-basis: 12.8%;
                margin: 1% 0.7%;
                line-height: 20px;
            }
        }
        
        .day-list {
            padding: 1% 1%;

            > .bordered-flex {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: stretch;
                // height: 790px;
                border: 1px solid gray;
                border-radius: 3px;

                > .day-flex-item {            
                    border: 1px solid gray;
                    border-style: solid;
                    border-radius: 3px;
                    box-sizing: border-box;
                    height: 163px;
                }

                > .not-current {
                    background-color: #c0e4de;
                }
            }
        }

        @media(min-width: 1500px) {
            .day-flex-item {
                flex-basis: calc(100%/7);
            }
        }

        @media(max-width: 1500px) {
            .day-flex-item {
                flex-basis: 25%;
            }
        }

        @media(max-width: 1100px) {
            .day-flex-item {
                flex-basis: 50%;
            }
        }

        @media(max-width: 700px) {
            .day-flex-item {
                flex-basis: 100%;
            }
        }
    }
}

@media(min-width: 0px) and (max-width: 1500px) {
    .week-days-bar {
        display: none;
    }
}

@media(min-width: 1500px) {
    .week-days-bar {
        display: flex;
    }
}