@import 'variables';

.day-list {
    padding: 1% 1%;

    > .bordered-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        // height: 790px;
        border: 1px solid gray;
        border-radius: 3px;

        > .day-flex-item {            
            border: 1px solid gray;
            border-style: solid;
            border-radius: 3px;
            box-sizing: border-box;
            height: 150px;
        }

        > .not-current {
            background-color: #c0e4de;
        }
    }
}

@media(min-width: 1500px) {
    .day-flex-item {
        flex-basis: calc(100%/7);
    }
}

@media(max-width: 1500px) {
    .day-flex-item {
        flex-basis: 25%;
    }
}

@media(max-width: 700px) {
    .day-flex-item {
        flex-basis: 100%;
    }
}