<form #f="ngForm" (ngSubmit)="OnSubmit(f)">
    <div class="form-group">
        <label for="exampleInputPassword1">User name</label>
        <input 
            class="form-control" 
            placeholder="User name"
            [(ngModel)]="Model.Username"
            name="username"
            required
            #username="ngModel"
        >
        <small class="error-hint" [hidden]="!username.touched">    
            <small [hidden]="!username.errors || !username.errors.required">User name is required </small>
        </small> 
    </div>

    <div class="form-group">
        <label>Password</label>
        <input 
            type="password" 
            class="form-control" 
            placeholder="Password"
            [(ngModel)]="Model.Password"
            name="password"
            required
            #password="ngModel"
            minlength="4"
        >
        <small class="error-hint" [hidden]="!password.touched">    
            <small [hidden]="!password.errors || !password.errors.required">Password is required</small>
            <small [hidden]="!password.errors || !password.errors.minlength">Min length is 4 symbols</small>
        </small> 
    </div>    
    <button 
        type="submit" class="btn btn-neutral">Login</button>
</form>

<p class="error-text">{{ErrorMessage}}</p>