<div class="edit-todo-item">
    <form [formGroup]="ToDoForm"> 
        <div class="form-group">
            <label for="date" [ngClass]="{'error-label': HasError('Date')}">Which day? *</label>
            <div class="input-group">
                <input
                    class="form-control" 
                    placeholder="yyyy-mm-dd"
                    [ngClass]="{'is-invalid': HasError('Date')}" 
                    id="date"
                    ngbDatepicker 
                    #d="ngbDatepicker"
                    formControlName="Date"
                    required/>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
            </div>
            <small class="error-hint" *ngIf="HasError('Date')">
                {{ ErrorName('Date') }}
            </small> 
        </div>

        <label>When?</label>
        <ngb-timepicker formControlName="Time"></ngb-timepicker>

        <div class="form-group" >
            <label for="name" [ngClass]="{'error-label': HasError('Name')}">Short name *</label>
            <input type="text"
                class="form-control"
                [ngClass]="{'is-invalid': HasError('Name')}" 
                id="name" 
                placeholder="To wash my cat"
                formControlName="Name"
                required>
            <small class="error-hint" *ngIf="HasError('Name')">
                {{ ErrorName('Name') }}
            </small> 
        </div>
        
        <div class="form-group">
            <label for="description">Description</label>
            <textarea 
                class="form-control" 
                id="description" 
                rows="7" 
                placeholder="I should wash my cat thoroughly"
                formControlName="Description">
            </textarea>
        </div>

        <div class="form-group">
            <label for="importance">Select importance</label>
            <select class="form-control" formControlName="Importance">
                <option *ngFor="let key of ImportanceKeys" [value]="key"> {{ ImportanceOptions[key] }} </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" (click)="OnSave()">Submit</button>
    </form>

    {{ToDoForm.get('Time').value}}
</div>