<div class="day" [ngClass]="{'not-current-month' : !(IsCurrentMonth$ | async) }">
	<div class="day-header">
		<span>
			{{ Date | date: 'd' }}
		</span>
		<span class="day-actions">
			<button
				(click)="OnDaySelectedToAdd()"
				[ngClass]="{ 'viewed' : IsDayInAddMode$ | async }">
				<fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
			</button>
			<button
				(click)="OnDaySelectedToView()"
				[ngClass]="{ 'viewed' : IsDayInViewMode$ | async }">
				<fa-icon [icon]="['fas', 'list-alt']"></fa-icon>
			</button>
		</span>
	</div>
	<div class="item-list">
		<div *ngFor="let item of VisibleItems"
			class="todo-item"
			appColoredTodo [todo]="item"
			[ngClass]="{ 'done' : item.IsDone, 'hidden' : item.Visible }">
			<div class="short-name">
				<button
					class="done-toggler"
					(click)="ToggleDone(item.id)"
				>
					<fa-icon [icon]="ToggleIconName(item.IsDone)"></fa-icon>
				</button>
				<span class="todo-text">{{ item.Name }}</span>
			</div>

			<div class="actions">
				<span> {{ item | displayTime }}</span>
				<a
					class="todo-action-btn"
					(click)="OnEditClick(item)"
					[ngStyle]="{ color : (IsItemEditing$(item.id) | async) ? 'gray' : 'black' }"
				>
					<fa-icon [icon]="['fas', 'edit']"></fa-icon>
				</a>
				<button class="todo-action-btn" (click)="OnDeleteClick(item.id)">
					<fa-icon [icon]="['fas', 'times']"></fa-icon>
				</button>
			</div>
		</div>
	</div>
	<div class="more-container" *ngIf="InvisibleItems.length > 0">
		<button
			class="more-btn" (click)="OnDaySelectedToView()"> {{ InvisibleItems.length }} more ...
		</button>
	</div>
</div>
