@import 'variables';

.day {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;

    > .day-header {
        margin: 2px 5px 5px 5px;
        height: 35px;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        align-items: center;

        > .add-item-link {
            visibility: hidden;
            color: $blue;
            cursor: pointer;
            font-size: 30px;
        }
    }
}

.day:hover .add-item-link {
    visibility: visible;
}