@import 'variables';

.day {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
  
    > .add-item-link {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        color: $gray;
        font-size: 30px;
        cursor: pointer;
    }
}

.day:hover .add-item-link {
    display: block;
}