.calendar {
    padding: 1% 1%;

    > .bordered-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        height: 790px;
        border: 1px solid gray;
        border-radius: 3px;

        > .day-flex-item {
            flex-basis: calc(100%/7);
            border: 1px solid gray;
            border-style: solid;
            border-radius: 3px;
            box-sizing: border-box;
        }
    }
}