<div class="edit-todo-item">
    <form [formGroup]="ToDoForm"> 
        <div class="form-group">
            <label for="date">Which day?</label>
            <div class="input-group">
                <input
                    class="form-control" 
                    placeholder="yyyy-mm-dd"
                    id="date"
                    name="date"
                    ngbDatepicker 
                    #d="ngbDatepicker"
                    formControlName="Date"/>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
            </div>
        </div>

        <label>When?</label>
        <ngb-timepicker formControlName="Time"></ngb-timepicker>

        <div class="form-group">
            <label for="name">Short name</label>
            <input type="text"
                class="form-control" 
                id="name" 
                placeholder="To wash my cat"
                formControlName="Name">
        </div>
        
        <div class="form-group">
            <label for="description">Description</label>
            <textarea 
                class="form-control" 
                id="description" 
                rows="7" 
                placeholder="I should wash my cat thoroughly"
                formControlName="Description">
            </textarea>
        </div>

        <div class="form-group">
            <label for="importance">Select importance</label>
            <select class="form-control" formControlName="Importance">
                <option *ngFor="let key of ImportanceKeys" [value]="key"> {{ ImportanceOptions[key] }} </option>
            </select>
        </div>
    </form>

    <div *ngFor="let control of ToDoForm.controls | keyvalue">
        {{ control.value.value }}
    </div>
s
    {{ImportanceKeys}}
</div>