<div class="edit-todo-item">
	<form>
        <div class="form-group">
            <label for="name">Short name</label>
            <input class="form-control" id="name" placeholder="To wash my cat">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="7" placeholder="I should wash my cat thoroughly"></textarea>
        </div>
        <legend class="col-form-label col-sm-2 pt-0">Importance</legend>
        <div class="form-check form-check-inline importance-container">
            <div class="flex-item">
                <input class="form-check-input" name="importanceOptions" type="radio" id="box1" value="option1">
                <label class="form-check-label" for="box1">Low</label>
            </div>
            <div class="flex-item">
                <input class="form-check-input" name="importanceOptions" type="radio" id="box2" value="option2">
                <label class="form-check-label" for="box2">Middle</label>
            </div>
            <div class="flex-item">
                <input class="form-check-input" name="importanceOptions" type="radio" id="box3" value="option3">
                <label class="form-check-label" for="box3">Hidh</label>
            </div>
        </div>
    </form>
</div>